<div class="contas-page">
    <h2>Gerenciamento de Contas</h2>

    <div class="top-actions">
        <div class="filters-container">
            <div class="search-bar">
                <input 
                    type="text" 
                    placeholder="Pesquisar"
                    [(ngModel)]="termoPesquisa" 
                    >
                <i class="material-icons search-icon"></i>
            </div>

            <div class="select-filters">
                <select #tipo (change)="onFiltrar(tipo.value, status.value)" class="form-select">
                    <option value="">Todos os Tipos</option>
                    <option value="RECEITA">RECEITA</option>
                    <option value="DESPESA">DESPESA</option>
                </select>

                <select #status (change)="onFiltrar(tipo.value, status.value)" class="form-select">
                    <option value="">Todos os Status</option>
                    <option value="ATIVO">ATIVO</option>
                    <option value="INATIVO">INATIVO</option>
                </select>
            </div>
        </div>

        <button class="btn btn-primary" (click)="abrirFormularioCadastro()">
            <i class="material-icons"></i> Adicionar Nova Conta
        </button>
    </div>

    <div class="contas-list">
        <p *ngIf="itens.length === 0 && !termoPesquisa">Nenhuma conta cadastrada.</p>
        
        <table *ngIf="contasFiltradas.length > 0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo de Conta</th>
                    <th>(Cliente/Fornecedor)</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conta of contasFiltradas">
                    <td>{{ conta.nome }}</td>
                    <td>
                        <span [ngClass]="conta.tipo === 'RECEITA' ? 'text-receita' : 'text-despesa'">
                            {{ conta.tipo === 'RECEITA' ? 'RECEITA' : 'DESPESA' }}
                        </span>
                    </td>
                    <td>
                        {{ conta.tipo === 'RECEITA' ? (conta.cliente?.nomeOuNomeFantasia) : (conta.fornecedor?.nomeOuNomeFantasia) }}
                    </td>
                    <td>
                        <span [ngClass]="conta.status === 'ATIVO'? 'status-ativo' : 'status-inativo'">
                        {{ conta.status }}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-icon edit-btn" (click)="editarItem(conta)">
                            <i class="material-icons">Editar</i>
                        </button>
                        
                        <button class="btn btn-icon" (click)="alternarStatus(conta)">
                             <i class="material-icons" [title]="conta.status === 'ATIVO' ? 'Inativar' : 'Ativar'">
                                {{ conta.status === 'ATIVO' ? 'Inativar' : 'Ativar' }}
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p *ngIf="termoPesquisa && contasFiltradas.length === 0" class="no-results">
            Nenhuma conta encontrada com o termo "{{ termoPesquisa }}".
        </p>
    </div>

    <div *ngIf="isFormularioAberto" class="form-modal-overlay">
        <div class="form-card">
            <app-contas-form
                [contaEdicao]="itemEmEdicao"
                (contaSalva)="salvarConta($event)"
                (fechar)="fecharFormulario()"
            ></app-contas-form>
        </div>
    </div>
</div>