<div class="form-container">
    <h3>{{ isEditMode ? 'Editar Fornecedor' : 'Novo Fornecedor' }}</h3>

    <form [formGroup]="fornecedorForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="nomeFantasia">Nome Fantasia</label>
            <input
                id="nomeFantasia"
                type="text"
                formControlName="nomeFantasia"
                placeholder="Ex: Maria da Silva"
            >
            <div *ngIf="fornecedorForm.get('nomeFantasia')?.touched && fornecedorForm.get('nomeFantasia')?.errors" class="error-message">
                <span *ngIf="fornecedorForm.get('nomeFantasia')?.errors?.['required']">O Nome Fantasia é obrigatório.</span>
                <span *ngIf="fornecedorForm.get('nomeFantasia')?.errors?.['minlength']">O Nome Fantasia deve ter pelo menos 3 caracteres.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="razaoSocial">Razão Social</label>
            <input
                id="razaoSocial"
                type="text"
                formControlName="razaoSocial"
                placeholder="Ex: Maria da Silva"
            >
            <div *ngIf="fornecedorForm.get('razaoSocial')?.touched && fornecedorForm.get('razaoSocial')?.errors" class="error-message">
                <span *ngIf="fornecedorForm.get('razaoSocial')?.errors?.['required']">O Razão Social é obrigatório.</span>
                <span *ngIf="fornecedorForm.get('razaoSocial')?.errors?.['minlength']">O Razão Social deve ter pelo menos 3 caracteres.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input
                id="email"
                type="email"
                formControlName="email"
                placeholder="Ex: contato@empresa.com"
            >
            <div *ngIf="fornecedorForm.get('email')?.touched && fornecedorForm.get('email')?.errors" class="error-message">
                <span *ngIf="fornecedorForm.get('email')?.errors?.['required']">O email é obrigatório.</span>
                <span *ngIf="fornecedorForm.get('email')?.errors?.['email']">O formato do email é inválido.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="telefone">Telefone (Ex: (99) 99999-9999)</label>
            <input
                id="telefone"
                type="text"
                formControlName="telefone"
                placeholder="(99) 99999-9999"
                mask="(00) 00000-0000"
                [dropSpecialCharacters]="true"
            >
            <div *ngIf="fornecedorForm.get('telefone')?.touched && fornecedorForm.get('telefone')?.errors" class="error-message">
                <span *ngIf="fornecedorForm.get('telefone')?.errors?.['required']">O telefone é obrigatório.</span>
                <span *ngIf="fornecedorForm.get('telefone')?.errors?.['pattern']">Formato de telefone inválido.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="cpf_Cnpj">CPF / CNPJ</label>
            <input 
                id="cpfCnpj"
                type="text"
                formControlName="cpfCnpj"
                placeholder="Ex: 999.999.999-99 ou 99.999.999/9999-99"
                [mask] = cpfCnpjMask
                [dropSpecialCharacters]="true"
                maxlength="18"
                >
            <div *ngIf="fornecedorForm.get('cpfCnpj')?.touched && fornecedorForm.get('cpfCnpj')?.invalid" class="error-message">
                <small *ngIf="fornecedorForm.get('cpfCnpj')?.errors?.['required']">O CPF/CNPJ é obrigatório.</small>
                    <small *ngIf="fornecedorForm.get('cpfCnpj')?.errors?.['cpfInvalido']">O número de CPF informado é inválido.</small>
                    <small *ngIf="fornecedorForm.get('cpfCnpj')?.errors?.['cnpjInvalido']">O número de CNPJ informado é inválido.</small>
                    <small *ngIf="fornecedorForm.get('cpfCnpj')?.errors?.['lengthInvalido']">Documento incompleto.</small>
            </div>
        </div>
        
        <div class="form-group">
            <label for="endereco">Endereço Completo</label>
            <input id="endereco" type="text" formControlName="endereco" placeholder="Ex: Rua das Flores, 100 - Centro">
            <div *ngIf="fornecedorForm.get('endereco')?.touched && fornecedorForm.get('endereco')?.errors" class="error-message">
                <span *ngIf="fornecedorForm.get('endereco')?.errors?.['required']">O endereço é obrigatório.</span>
            </div>
        </div>

        <div class="form-group">
            <label for="descricao">Descrição / Observações (Opcional)</label>
            <textarea id="descricao" formControlName="descricao" rows="3" placeholder="Informações adicionais sobre o forncedor..."></textarea>
        </div>
        
        <div class="form-actions">
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="fornecedorForm.invalid">
                <i class="material-icons"></i>
                {{ isEditMode ? 'Salvar Alterações' : 'Cadastrar' }}
            </button>
            
        </div>
    </form>
</div>
