<div class="clientes-page">
    <h2>Gerenciamento de Clientes</h2>

    <div class="top-actions">
        <div class="search-bar">
            <input 
                type="text" 
                placeholder="Pesquisar cliente por nome/razão social, cpf/cnpj e email..."
                [(ngModel)]="termoPesquisa"
            >
            <i class="material-icons search-icon"></i>
        </div>

        <button class="btn btn-primary" (click)="abrirFormularioCadastro()">
            <i class="material-icons"></i> Adicionar Novo Cliente
        </button>
    </div>

    <div class="clientes-list">
        <table>
            <thead>
                <tr>
                    <th>Nome / Razão Social</th>
                    <th>CPF / CNPJ</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientesFiltrados">
                    <td>{{ cliente.nomeOuNomeFantasia }} <br>
                        <small style="color: #888;" *ngIf="cliente.nomeOuNomeFantasia">{{ cliente.nomeOuNomeFantasia }}</small>
                    </td>
                    <td>{{ cliente.cpfCnpj | cpfCnpj }}</td>
                    <td>{{ cliente.email }}</td>
                    <td>{{ cliente.telefone | telefone }}</td>
                    <td>
                        <span [ngClass]="cliente.status === 'ATIVO' ? 'status-ativo' : 'status-inativo'">
                            {{ cliente.status }}
                        </span>
                    </td>
                    <td>
                        <button class="btn btn-icon edit-btn" (click)="editarItem(cliente)">
                            <i class="material-icons">Editar</i>
                        </button>
                        
                        <button class="btn btn-icon" (click)="alternarStatus(cliente)">
                            <i class="material-icons" [title]="cliente.status === 'ATIVO' ? 'Inativar' : 'Ativar'">
                                {{ cliente.status === 'ATIVO' ? 'block' : 'check_circle' }}
                            </i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <p *ngIf="clientesFiltrados.length === 0" class="no-results">Cliente não encontrado.</p>
    </div>

    <div *ngIf="isFormularioAberto" class="form-modal-overlay">
        <div class="form-card">
            <app-pessoa-form
                [titulo]="itemEmEdicao ? 'Editar Cliente' : 'Novo Cliente'"
                [itemEdicao]="itemEmEdicao"
                (salvar)="salvarCliente($event)"
                (fechar)="fecharFormulario()">
            </app-pessoa-form>
        </div>
    </div>
</div>